@import './base.css';

html {
  scrollbar-color: #4a4a4a #2f2f2f;
}

#app {
  font-weight: normal;
  scrollbar-color: #4a4a4a #2f2f2f;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background-color: hsla(160, 100%, 37%, 1);
  margin-top: 0.8rem;
  color: white;
  padding: 0.5rem 1rem;
  
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(0, 123, 82);
}

.button-yellow {
  background-color: #ffc107;
}

.button-yellow:hover {
  background-color: #be8f02;
}

.button-red {
  background-color: #f44336;
}

.button-red:hover {
  background-color: #c12b21;
}

.button-blue {
  background-color: #0d6efd;
}

.button-blue:hover {
  background-color: #084db5;
}

.button-light-blue {
  background-color: #14bbf0;
}

.button-light-blue:hover {
  background-color: #0482a9;
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
